@import "../../../assests/scss/globalStyle.scss";

.UserBar {
    margin: 2% 0 0 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 0;
}

.logIn-desc {
    color: $purplishBlue;
    font-size: 1.2rem;
    width: fit-content;
    margin: auto 0;
    border-bottom: 2px solid $lightSteelBlue;
    border-radius: 5px;
    padding: 0 1rem;
    font-weight: bold;
}

.logIn-bar {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.logIn-area {

    display: flex;
    margin-left: 1%;
    width: 21%;
    justify-content: space-around;
}

.logIn-Btn {

    border: none;
    background: $purplishBlue;
    border-radius: 5vh;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: $lightSteelBlue;
    font-size: 1.3rem;
    transition: all 300ms ease, border-radius 150ms ease;
    border: 2px solid transparent;
    outline: none;

}
.logOut-Btn{
    border: none;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    color: red;
    font-size: 1.3rem;
    background:black;
    transition: all 300ms ease, border-radius 150ms ease;
    &:hover{
        color: black;
        background: red;
        border-color: black;
        border-radius: 2rem;

    }

}
.graph{
    display: flex;

}
.graph-Btn{
    border: 2px solid transparent;
    border: none;
    background:$darkBlue;
    color: aliceblue;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.3rem;
    &:hover{
        color: $darkBlue;
        background:aliceblue;
        border-color: $darkBlue;
        border: 2rem;
    }
}
.addCard-Btn {
    border: none;
    background: $skyBlue;
    border-radius: 10px;
    cursor: pointer;
    color: $darkBlue;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    transition: all 300ms ease;
    border: 2px solid transparent;
    outline: none;

    &:hover {

        border-radius: 1rem;
        transform: scale(1.1, 1.1);
        border-color: $lightSteelBlue;
        box-shadow: 0 0 1rem $lightSteelBlue;
    }
}

.logIn-Btn:hover {
    border-radius: 1rem;
    transform: scale(1.1, 1.1);
    border-color: $lightSteelBlue;
    box-shadow: 0 0 1rem $lightSteelBlue;
}